body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#mine {
  position: absolute;
  border: solid black 1px;
  border-top-width: 0px;
}

.block {
  background-color: #00B7FF;
  border: 1px solid rgb(0, 160, 207);
  float: left;
}