<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/screen.css" />
    <script data-main="/scripts/main.js" src="/scripts/lib/require.js"></script>
    <script src="/scripts/lib/simple-javascript-inheritance.js"></script>
    <script src="/scripts/lib/underscore-min.js"></script>
    <script src="/scripts/lib/jquery-1.10.2.min.js"></script>
  </head>
  <body>
      <div id="mine"></div>
  </body>
</html>